<?xml version="1.0"?>
<robot name="utils" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="utils" >

        <material name="Material">
            <color rgba="1.00000 1.00000 1.00000 1.00000"/>
        </material>
        <material name="Material.001">
            <color rgba="0.01569 0.00392 0.16471 1.00000"/>
        </material>
        <material name="Material.003">
            <color rgba="0.50196 0.30196 1.00000 1.00000"/>
        </material>
        <material name="x">
            <color rgba="0.80000 0.28235 0.59216 1.00000"/>
        </material>


    </xacro:macro>

    <xacro:macro name="solid_cuboid_inertia" params="m w h d">
    <inertia  ixx="${(m*(h*h+d*d))/12}" ixy = "0" ixz = "0"
                iyy="${(m*(w*w+d*d))/12}" iyz = "0"
                izz="${(m*(w*w+h*h))/12}"/>
    </xacro:macro>

    <!-- Solid cylinder of radius r, height h and mass m -->
    <xacro:macro name="solid_cylinder_inertia" params="m r h">
    <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                izz="${m*r*r/2}"/>
    </xacro:macro>
</robot>